<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ManaSport | Gestiona tu liga</title>
    <!-- Reset CSS -->
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Russo+One&display=swap" rel="stylesheet">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!-- JavaScript -->
    <script src="/javascripts/main.js"></script>
    
</head>

<body>

    <header class="fixed-top">
        <div class="container-fluid">
            <div class="row text-light">
                <div class="col header-logo">
                    <a href="/">
                        <img src="/images/logotipo.png">
                    </a>
                </div>
                <div class="col-4 m-3 login-panel">
                    <div class="row">
                        <div class="col-sm">
                            <input type="submit" value="Login" class="btn btn-primary mt-2" data-toggle="modal" data-target="#ModalLogin"> 
                        </div>
                        <div class="col-sm">
                            <input type="submit" value="Register" class="btn btn-warning mt-2" data-toggle="modal" data-target="#ModalRegister"> 
                        </div>
                    </div>
                </div>
            </div>           
        </div> 
        
<!-- Social Media -->
    <div class="rrss">
        <img src="/images/rrss/facebook.png" alt="">
        <img src="/images/rrss/twitter.png" alt="">
        <img src="/images/rrss/instagram.png" alt="">
        <img src="/images/rrss/whatsapp.png" alt="">
    </div>
</header>
<!-- <div class="separar-header"></div> -->


<!-- Modal Login-->
<div class="modal fade" id="ModalLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-login text-light">
            <div class="modal-header ">
            <h5 class="modal-title" id="exampleModalCenterTitle">Login</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control bg-warning border border-warning" name="emaillogin" id="emaillogin" placeholder="Email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="password" class="form-control bg-warning border border-warning"  name="passwordlogin" id="passwordlogin" placeholder="***********">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer no-border">
                <div class="col-6"> 
                    <button type="button" class="btn btn-outline-info w-100" onclick="getToken()">Iniciar sesión</button>
                </div>
                <div class="col-6">
                    <a href="#">¿Olvidaste la contraseña?</a> 
                </div>               
            </div>
        </div>
    </div>
</div>

<!-- Modal Register-->
<div class="modal fade" id="ModalRegister" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-register text-light">
            <div class="modal-header ">
            <h5 class="modal-title" id="exampleModalCenterTitle">Registro</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control bg-warning border border-warning" placeholder="Nombre">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control bg-warning border border-warning" placeholder="Apellidos">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control bg-warning border border-warning" placeholder="Email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="password" class="form-control bg-warning border border-warning" placeholder="***********">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                  Estoy de acuerdo con los términos y condiciones
                                </label>
                              </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer no-border">
                <div class="col"> 
                    <button type="button" class="btn btn-outline-success w-100">Regístrate</button>
                </div>          
            </div>
        </div>
    </div>
</div>

<script>
    function getToken() {
      const emailValue = document.getElementById("emaillogin").value;
      const passwordValue = document.getElementById("passwordlogin").value;

      fetch("api/auth", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ email: emailValue, password: passwordValue })
      }).then(response => {
        if (response.ok) {
          response.text().then(text => {
            sessionStorage.setItem("token", text);
            // location.href = "/users";
          });
        }
      });
    }
  </script>
